::-webkit-scrollbar {
  display: none;
}
.project-page{
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  overflow: hidden;
  height: 100vh;
}

.filter-container {
  position: sticky;
  top: 0;
  z-index: 9;
  margin: 0 auto;
  width: var.$body-width-large;
  display: flex;
  justify-content: end;
  padding-bottom: 5px;
  border-bottom: 1px dashed #504f4f;



    input{
      margin-right: 3rem;
      padding: 0.2rem;
      color: #0f1018;
      background-color: #f8f4e3 ;
      border: navajowhite 1px solid;
      border-radius: 3px;

      ::placeholder{
        color: #0f1018;
      }
    }
  }


.project-container {
  padding: 2rem 0;
  width: var.$body-width-large;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .project-container, .filter-container, .project-page {
    width: 100%;
  }

  .filter-container{
      input{
        margin-right: 1rem;
      }
  }
}