.nav-container {
  background-color: $main-color;
  padding: 0 .3rem;

  .main-nav {
    margin: 0 auto;
    display: flex;
    width: 75%;
    justify-content: space-between;

    // Media Queries for smaller screens
    &{
      @media (max-width: 768px) {
        width: 90%;
      }

      @media (max-width: 440px) {
        font-size: 0.8em;
      }
    }

    #nav-links-container, #email-container {
      display: flex;
      padding: 1.1rem;
    }

  }
}


a.header-link {
  color: $secondary-color;
  padding: 1em;
  font-size: 1.1em;
  text-align: center;

  &:hover {
    color: $link-hover;
    border-bottom: 3px solid $link-hover;
    transition: all 0.3s ease-in;
  }
}